<style>
	footer {
		background: black;
		color: white;
		display: table;
		height: 95px;
		width: 100%;
		max-width: 100vw;
	}

	footer .table-container {
		display: table-cell;
		vertical-align: middle;
	}

	footer .table-container ul {
		list-style: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	footer .table-container ul li {
		display: inline;
	}

	footer .table-container ul li a {
		color: #fff;
		text-decoration: none;
		font-size: 14pt;
		letter-spacing: 2px;
	}

	footer .table-container ul li a i {
		color: #fff;
		padding-right: 5px;
	}

	@media screen and (max-width: 849px), screen and (max-height: 649px) {
		footer {
			display: block;
			height: 145px;
			padding: 20px 0;
			width: 100%;
			max-width: 100vw;
			text-align: center;
		}
		footer .table-container {
			display: contents;
			vertical-align: initial;
		}
		footer .table-container ul {
			display: contents;
		}
		footer .table-container ul li {
			display: block;
			margin-top: 20px;
		}
	}
</style>
<footer>
	<div class="table-container">
		<ul>
			<li>
				<a href="https://github.com/xxtechgodsquadxx-neighborz/neighborz"><i class="fab fa-github"></i> Go to GitHub Repository</a>
			</li>
			<li>
				<a href="../sitemap"><i class="far fa-map"></i> Sitemap</a>
			</li>
			<li>
				<a href="https://github.com/xXTechGodSquadXx-NeighborZ/NeighborZ/blob/master/LICENSE.md"><i class="far fa-copyright"></i> NeighborZ 2020</a>
			</li>
		</ul>
	</div>
</footer>
