<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/about.css" />
		{%- include '/partials/font-awesome.html' -%}
		<title>About | NeighborZ</title>
	</head>
	<body>
		{%- include '/partials/nav-bar.html' -%}
		<div class="mission">
			<h1>Our Mission:</h1>
			<p>Texas neighborhoods in the last 5 years (as of 2020) have shown a significant decrease in the connectedness and trust in their fellow neighbors. Studies have portrayed these neighborhoods’ lack of civic connectedness in their findings such as how we rank 50th in discussing politics during the week, 39th in volunteering, 41st in talking to neighbors, and 45th in trusting their neighbors. Our goal is to mend this gap between neighbors in Texas Neighborhoods by developing an interactive chat forum that allows them to communicate important and stressing <span>information/events, organize events and meet-ups through Google Calendar, and create a platform for organized communication.</span></p>
			<br />
			<h1>Meet the Team!</h1>
		</div>
		<div class="container">
			<div class="emmanuel profile">
				<div class="top">
					<div class="name">Emmanuel</div>
					<div class="avatar"></div>
				</div>
				<div class="bio">
					<strong>Role:</strong> Project Manager, Frontend Developer <br />
					<strong>Grade:</strong> Senior <br />
				</div>
			</div>
			<div class="samuel profile">
				<div class="top">
					<div class="name">Samuel</div>
					<div class="avatar"></div>
				</div>
				<div class="bio">
					<strong>Role:</strong> Fullstack Lead Programmer <br />
					<strong>Grade:</strong> Freshman <br />
				</div>
			</div>
			<div class="jack profile">
				<div class="top">
					<div class="name">Jack</div>
					<div class="avatar"></div>
				</div>
				<div class="bio">
					<strong>Role:</strong> Frontend Developer <br />
					<strong>Grade:</strong> Junior <br />
				</div>
			</div>
			<div class="caleb profile">
				<div class="top">
					<div class="name">Caleb</div>
					<div class="avatar"></div>
				</div>
				<div class="bio">
					<strong>Role:</strong> Assistant to the Project Manager <br />
					<strong>Grade:</strong> Senior <br />
				</div>
			</div>
			<div class="chase profile">
				<div class="top">
					<div class="name">Chase</div>
					<div class="avatar"></div>
				</div>
				<div class="bio">
					<strong>Role:</strong> Bug Tester, Researcher, Press <br />
					<strong>Grade:</strong> Senior <br />
				</div>
			</div>
		</div>
		{%- include '/partials/footer.html' -%}

		<!-- Placeholder for calendar -->
		<!-- <iframe src="https://calendar.google.com/calendar/embed?src=jg92j2896bn9qno07el6aotubk%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
	</body>
</html>
