<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- <link rel="stylesheet" href="css/style.css" /> -->
		<title>About</title>
	</head>
	<body>
		<h1>Our Mission</h1>
		<p>Texas neighborhoods in the last 5 years (as of 2020) have shown a significant decrease in the connectedness and trust in their fellow neighbors. Studies have portrayed these neighborhoods’ lack of civic connectivenses in their findings such as how we rank 50th in discussing politics during the week, 39th in volunteering, 41st in talking to neighbors, and 45th in trusting their neighbors. Our goal is to mend this gap between neighbors in Texas Neighborhoods by developing an interactive chat forum that allows them to communicate important and stressing information/events, organize events and meet-ups through Google Calendar, and create a platform for organized communication.</p>

		<iframe src="https://calendar.google.com/calendar/embed?src=jg92j2896bn9qno07el6aotubk%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</body>
</html>
