<!-- Emails:
	Samuel Gunter: samuelgunter3@gmail.com
	Jack Nguyen: jacknguyen2238@gmail.com
	Emmanuel Ahonle: emmanuelahonle101@gmail.com

-->
<!-- Phone numbers:
    Samuel Gunter: Too poor to have a phone
    Jack Nguyen:    512 412 5215
    Emmanuel Ahonle: (512)-443-4848
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/contact.css" />
		<title>Contacts | NeighborZ</title>
	</head>
	<body>
		<h1>Need assistance?</h1>
		<h2>Username</h2>
		<input type="text" placeholder="Enter Username" name="uname" required />
		<h2>email</h2>
		<input type="text" placeholder="Enter Email" name="ail" required />
		<h2>Problem?</h2>
		<input type="text" palceholder="Enter Problem" name="contactProb" required />
		<h2>Comments?</h2>
		<textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Place your in here..."></textarea>

		<button type="submit">Submit</button>
	</body>
</html>
