<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gallery | NeighborZ</title>
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/gallery.css" />
		{%- include '/partials/favicons.html' -%} {%- include '/partials/font-awesome.html' -%}
	</head>
	<body>
		{%- include '/partials/nav-bar.html' -%}
		<div class="main">
			<div class="powr-photo-gallery" id="471cd79f_1581654045"></div>
			<script src="https://www.powr.io/powr.js?platform=iframe#"></script>
		</div>
		{%- include '/partials/footer.html' -%}
	</body>
</html>
