<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/index.css" />
		{%- include '/partials/favicons.html' -%} {%- include '/partials/font-awesome.html' -%}
		<title>Homepage | NeighborZ</title>
	</head>
	<body>
		{%- include '/partials/nav-bar.html' -%}
		<div class="main">
			<h1>NeighborZ</h1>
			<h2>Connecting Neighbors</h2>
			<ul>
				<li id="forum"><a href="/forum/">Go to Forum</a></li>
				<li id="about"><a href="/about/">About Us</a></li>
				<li id="contact"><a href="/contact-us/">Contact Us</a></li>
				<li id="gallery"><a href="/gallery/">Gallery</a></li>
			</ul>
			<br />
			<p>Welcome to NeighborZ, the online forum for connecting neighbors. NeighborZ was created in mid January 2020 by five high school students. To learn more about us, you can go to our <a href="/about/" class="toAbout">About Us</a> page, either by clicking that link, or using our navigation bar. Click on the hamburger menu on mobile, or the links above this text on desktop to get started :D</p>
		</div>
		{%- include '/partials/footer.html' -%}
	</body>
</html>
